.right-section{
    transform: translate(10%,0%);

}
.search-section{
    
    border: 3px solid gray;
    position: relative;
    left: 50px;
    width: 320px;
    height: 45px;
    border-radius: 30px;
    padding-right: 33px;
    padding-left: 10px;
}

.search-icon{
    position: relative;
    left: 10px;
    top: -3px;
    font-size: 30px;
}
.trends{
    /* border: 1px solid rgb(14, 14, 15); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    position: relative;
    top: 15px;
    transform: translate(20%,0%);
    width: 310px;
    border-radius: 15px;
    height: max-content;
    

}
.flexColCenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .flexCenter{
    display: flex;
    row-gap: 2rem;
    justify-content: right;
    flex-wrap: wrap;
  align-items: center;
}
.icon{
    position: relative;
    left: -20px;
}
.trends h1{
    font-size: 30px;
    position: relative;
    left: 10px;
    padding-bottom: 20px;
}
.trend1{
    padding-bottom: 10px;
    
}
.trend1 h4, span{
    position: relative;
    left: 10px;
    font-family: poppins sans-serif;
}
.trend1:hover{
    border: 0.5px solid grey;
    background: rgb(185, 182, 182);
    border-radius: 0px;
    cursor: pointer;
    
}
.trends button{
    text-decoration: none;
    position: relative;
    left: 10px;
    padding-bottom: 15px;
    color: blue;
}
.t-option-menu{
    
}
.search-icon2{
    position: relative;
    left: 17.2rem;
    margin-top: 5px;
    font-weight: bold;

}
#clear-btn{
    cursor: pointer;
}